# Dependencies
node_modules/

# Database
*.db
*.db-journal

# Environment
.env

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal
